<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/style.css">
    <title>Carteira</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.html">Home</a>
            <button class="quit" onclick="sair()">Sair</button>
        </nav>
    </header>
    <main class="login">

        <!-- <h1 class="total"></h1> -->
        <h2 class="empty">Nenhum ativo cadastrado no momento!</h2>
        <img class="loading" src="./loading.gif" alt="">
        <!-- <table>
            <thead>
                <tr><th colspan="6">Carteira</th></tr>
                <img class="loading" src="./loading.gif" alt="">
                <tr>
                    <th>ticker</th>
                    <th>grupo</th>
                    <th>quantidade</th>
                    <th>preço medio</th>
                    <th>investido</th>
                    <th>setor</th>
                </tr>
                <tbody id="conteudo">

                </tbody>
            </thead>
        </table> -->

        <a href="./cadastrar.html" class="create">Cadastrar novo ativo</a>
    </main>
    <script src="./js/carteira.js"></script>
</body>
</html>